<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ion Medication System - {% block page_title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/stylesheets/base.css">
	<link rel="stylesheet" href="/static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/static/stylesheets/layout.css">
	<link rel="stylesheet" href="/static/stylesheets/style.css">
  <meta name="viewport" content="initial-scale=1">
  <script type="text/javascript" src="/static/scripts/jquery-2.1.0.min.js"></script>
  {% if user_group == 'patient' or user_group == 'caretaker' or user_group == 'admin' or user_group == 'dispenser' %}
  <script type="text/javascript" src="/static/scripts/ion.js"></script>
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header-wrapper">
	<div id="menu-container" class="container">
	<div class="row" style="margin-bottom:0">
    {% block menubar %}
		<header>
			<nav>
        <div id="main-menu-icons">
          <a href="#"><img id="menu-icon" src="/static/images/menu6.png"></a>
          <a href="#"><img id="notification-icon" src="/static/images/mail.png"></a>
        </div>
        {% if user_group == 'caretaker' or user_group == 'admin' %}
        <form id="search" method="get" action="/search">
         <input type="hidden" name="requestType" value="searchPatients">
         <input id="search-box" type="text" name="search">
        </form>
        {% endif %}
				<ul id="main-menu">
          <li><a href="/">ION</a></li>
          {% if user_group == 'caretaker' or user_group == 'admin' %}
					<li><a href="/users">Users</a></li>
					<li><a href="/dispenser">Dispensers</a></li>
          {% endif %}
					<li><a href="/medication">Medication</a></li>
					<li><a href="/account">Account</a></li>
					<li><a href="/account/logout">Logout</a></li>
				</ul>
			</nav>
		</header>
    <ul id="notifications">
    </ul>
    {% endblock %}
	</div>
  </div>
  </div>
  <div id="message" 
  {% if message_type %}
    class="{{ message_type }}"
  {% else %}
    class="error"
  {% endif %}
  >
    <div class="container">
      <div class="row">
        {% if message %}
        <div id="message-text">
          {{ message }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="content-container" class="container">
  	<div class="row">
		<h1>{% block header_title %}{% endblock %}</h1>
    </div>
    <hr>
    {% block content %}{% endblock %}
	</div>
	<div class="sixteen columns">
		<footer>
			&copy; 2014 Team Ion
		</footer>
	</div>
  <div id="dialog-container">
    <div id="dialog">
      <div id="dialog-content">
      </div>
      <div id="dialog-button-bar">
        <span class="dialog-button"><a id="button-OK" href="#">OK</a></span><span class="dialog-button"><a id="button-Cancel" href="#">Cancel</a></span>
      </div>
    </div>
  </div>
  <div id="dialog-cover">
  </div>
</body>
</html>