{% extends "touch_template.html" %}
{% block page_title %}
Dispenser View
{% endblock %}
{% block header_title %}
My Portal
{% endblock %}
{% block content %}
   {% load dispenser_tags %}
   
   {% if validMedications %}
   <h2>Valid Medications</h2>
      {% for rxuid, medData in validMedications.items %}
         {% with medName=rxuid|get_medName %}
            <form method="post">
               {% csrf_token %}
               <input type="hidden" name="requestType" value="takeMed">
               <input type="hidden" name="compartment" value="{{ medData.0 }}">
               <input type="hidden" name="rxuid" value="{{ rxuid }}">
               <input type="hidden" name="patientID" value="{{ medData.1.id }}">
               <input type="hidden" name="userID" value ="{{ userID }}">
               <input type="hidden" name="caretaker" value ="{{ medData.2 }}">
               <input type="submit" value="Take {{ medName}} for {{ medData.1.firstName }} {{ medData.1.lastName }}">
             </form>
         {% endwith %}
      {% endfor %}
   {% elif dispenser %}
   <h2>Scan your badge</h2>  
   <form method="post">
      {% csrf_token %}
      <input type="hidden" name="requestType" value="scannedID">
      <input type="text" name="userID" placeholder="Scan your badge" autofocus="autofocus">
    </form>
    
   {% endif %}
{% endblock %} 