{% extends "base_template.html" %}
{% block page_title %}
Dispenser Management
{% endblock %}
{% block header_title %}
Dispenser Management
{% endblock %}
{% block head %}
    <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
      e.style.display = ((e.style.display!='none') ? 'none' : 'block');
    }
//-->
    </script>
{% endblock %}
{% block content %}
   {% load dispenser_tags %}
   <div class="two-thirds column">
     <h2>My Dispensers</h2>
   {% if dispensers %}
      {% for dispenser in dispensers %}
         <a href="#" onclick="toggle_visibility('{{ dispenser.id }}');"><h4>{{ dispenser.location }}</h4></a>
         <div id = "{{ dispenser.id }}" style="display:none;">
         <a href="/dispenser/view?dispenserID={{ dispenser.id }}">Touchscreen interface</a><br>
                        
         <form method="post" onSubmit="return confirm('Do you really want to delete this dispenser?');">
           {% csrf_token %}
           <input type="hidden" name="requestType" value="deleteDispenser">
           <input type="hidden" name="id" value="{{dispenser.id}}">
           <input type="submit" value="delete dispenser">
         </form>
  
         <hr>
         {% for compartment in dispenser.slots %}
            Compartment {{ forloop.counter }}:
            {% if compartment %}
               {% with medName=compartment.rxuid|get_medName %}
                  <br>
                     Medication: {{ medName }} <br>
                     Expiration: {{ compartment.expiration }} <br>
                     Lot Number: {{ compartment.lot }}<br>
                     <form method="post">
                       {% csrf_token %}
                       <input type="hidden" name="requestType" value="removeCompartment">
                       <input type="hidden" name="dispID" value="{{dispenser.id}}">
                       <input type="hidden" name="compID" value="{{compartment.id}}">
                       <input type="submit" value="remove compartment">
                     </form>
               {% endwith %}
            {% else %}
               OPEN
            {% endif %}
         {% endfor %}
         </div>
       {% endfor %}
    {% else %}
      No dispensers
    {% endif %}
   </div>
   <div class="one-third column">
     <h2>Tasks</h2>
     <ul class="action-list">
      <li><a href = "/dispenser/admin">Dispenser/Compartment Manufacturer</a>
      <li><a href = "/compartment">Update Compartments</a>
      <li><a href = "/loadcompartment">Load Compartment</a>
     </ul>
   </div>

{% endblock %}