{% extends "base_template.html" %}
{% block page_title %}
Dispenser Management
{% endblock %}
{% block header_title %}
Dispenser Management
{% endblock %}
{% block head %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#dispenser-list div.location").click(function() {
      if(!$(this).siblings("div.details").is(":visible")) {
        $("#dispenser-list div.details").slideUp(200);
        $("#dispenser-list div.location").removeClass("location-open");
        $(this).siblings("div.details").slideToggle(200);
        $(this).addClass("location-open");
      }
      else {
        $(this).siblings("div.details").slideUp(200);
        $(this).removeClass("location-open");
      }
    }).disableSelection();
    
    $("#dispenser-list div.actionLink > a").click(function() {
      //$.post("", $(this).siblings("form").serialize()); 
      $(this).siblings("form").submit();
    });
    
    $(".delete-dispenser-form").submit(function(evt, verified) {
      if(!verified) {
        var el = $(this);
        dialog.show("Are you sure you want to delete the dispenser?", {
          "Yes": function() { el.trigger("submit", true); dialog.close(); },
          "No": function() { dialog.close(); }
        });
        return false;
      }
      else
        return true;
    });
    
    if(location.hash.length > 1) {
      $(location.hash).addClass("location-open").siblings("div.details").show();
    }
  });
</script>
<link rel="stylesheet" href="/static/stylesheets/dispenser.css">
{% endblock %}
{% block content %}
   {% load dispenser_tags %}
   <div class="two-thirds column">
     <h2>Dispensers</h2>
   {% if dispensers %}
     <ul id="dispenser-list">
      {% for dispenser in dispensers %}
         <li>
         <div class="location"  id="{{ dispenser.id }}">
          <a href="#">{{ dispenser.location }}</a>
          
          <!--<div class="actionLink">
            <a href="#" class="removeCompartment"><img src="/static/images/arrow.png" height=9 style="opacity:1;position:relative;top:-2px"></a>

          </div>-->
         </div>
         <div class="details" style="">
         <!--<a href="/dispenser/view?dispenserID={{ dispenser.id }}">Touchscreen interface</a><br>
                        
         -->
         <div class="details-menu" >
           <a class="load-compartment" href = "/dispenser/loadcompartment?dispenserID={{dispenser.id}}" onclick="javascript:void window.open('/dispenser/loadcompartment?dispenserID={{dispenser.id}}','1392054828660','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">Load compartment</a>
           
           <div class="actionLink">
              <a href="#">Delete dispenser</a>  
              <form method="post" class="delete-dispenser-form">
               {% csrf_token %}
               <input type="hidden" name="requestType" value="deleteDispenser">
               <input type="hidden" name="id" value="{{dispenser.id}}">
               <input type="submit" value="delete dispenser">
             </form>
           </div>
         </div>
         
         <ul class="compartment-list">
           {% for compartment in dispenser.slots %}
              <li>
              <div class="compartment">Compartment {{ forloop.counter }}</div>
                {% if compartment %}
                  <div class="actionLink">
                    <a href="#">Remove</a>
                    <form method="post" action="#{{ dispenser.id }}" >
                     {% csrf_token %}
                     <input type="hidden" name="requestType" value="removeCompartment">
                     <input type="hidden" name="dispID" value="{{dispenser.id}}">
                     <input type="hidden" name="compID" value="{{compartment.id}}">
                     <input type="submit" value="Remove">
                    </form>
                  </div>
                  {% with medName=compartment.rxuid|get_medName %}
                    <table class="medinfo">
                      <tr><td>Medication:</td><td>{{ medName }}</td></tr>
                      <tr><td>Expiration:</td><td>{{ compartment.expiration }}</td></tr>
                      <tr><td>Lot Number:</td><td>{{ compartment.lot }}</td></tr>
                    </table>
                  {% endwith %}
                {% endif %}
              </li>
           {% endfor %}
         </ul>
         </div>
         </li>
       {% endfor %}
       </ul>
    {% else %}
      No dispensers
    {% endif %}
   </div>
   <div class="one-third column">
     <h2>Tasks</h2>
     <ul class="action-list">
    {% if user_group == 'admin' %}
      <li style="color:red"><a href = "/dispenser/admin">Dispenser/Compartment Manufacturer</a>
      
      <li class="dialogLink">
        <a href="#">Add Dispenser</a>
        <div>
          test
        </div>
      </li>
      <li class="dialogLink"><a href="#">Add Compartment</a></li>
    {% endif %}
      <li><a href = "/compartment">Update Compartments</a>
     </ul>
   </div>

{% endblock %}