{% extends "base_template.html" %}
{% block page_title %}
Compartment Manager
{% endblock %}

{% block header_title %}

{% endblock %}
{% block content %}
   <ul>
      <li> <a href = "../patientinfo">Patient Info</a>
      <li> <a href = "../medinfo">Medication Info Lookup</a>
      <li> <a href = "../dispenser">Dispenser Admin</a>
    </ul>
{% endblock %} 
<!DOCTYPE html>
<html>
  <head>
    <title>Compartment Manager</title>
   {% load staticfiles %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
         text-align:center;
      }
      ul {
         list-style-type: none;
      }
    </style>
  </head>
  <body>
    <h1>Information Management</h1>

      </body>
</html>