{% extends "base_template.html" %}
{% block page_title %}
Portal
{% endblock %}
{% block header_title %}
Portal
{% endblock %}
{% block content %}

<div class="one-third column">
     <h2>Tasks</h2>
     <ul class="action-list">
      <li><a href = "/users">User Management</a>
      <li><a href = "/dispenser">Dispenser Management</a>
      <li><a href = "/medication">Medication Tools</a>
      <li><a href = "/account">Account Management</a>
      <li><a href = "/account/logout">Logout</a>
     </ul>
   </div>
{% endblock %} 