{% extends "base_template.html" %}
{% block page_title %}
Notifications
{% endblock %}
{% block header_title %}
Notifications
{% endblock %}
{% block head %}
<style type="text/css">
#notification-list li {
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
}
</style>
{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function() {
  //setup filters
  
  //map of filters, function returns true if notification is to be kept in the list
  var filters = {
    "start-date":function(notification) {
      return false;
    },
    "unread":function(notification) {
      return notification.unread;
    }
  };
  //disable all filters initially
  $("#filters .filter .value input").attr("disabled", "disabled");
  //checkbox enables filters
  $("#filters .filter :checkbox").change(function() {
    var el = $(this).parents(".filter").children(".value").children("input");
    if($(this).is(":checked")) el.removeAttr("disabled");
    else el.attr("disabled", "disabled");
    
    refreshNotifications();
  });
  
  var numNotifications = 0;
  function refreshNotifications() {
    var notifications_list = notification.getNotifications();
    var ul = $("<ul id='notification-list'></ul>");

    for(var i = 0; i < numNotifications; ++i) {
      var n = notifications_list[i];
      //filter if necessary
      var good = true;
      for(var filter in filters) {
        if($("#"+filter).find(":checkbox").is(":checked") && !filters[filter](n)) {
          good = false;
          break;
        }
      }
      if(!good) continue;
      
      var html = [];
      html.push("<li>");
      html.push("<div class='header'>");
      html.push("<time>");
      html.push(n.creation_date.toLocaleDateString() + " " + n.creation_date.toLocaleTimeString());
      html.push("</time>");
      html.push("</div>");
      html.push("Test asdfjaksdfl  ");
      html.push("</li>");
      var li = $(html.join(""));
      if(n.unread) {
        li.addClass("unread");
        li.data("index",i);
      }
      ul.append(li);
    }
    $("#notification-list").replaceWith(ul);
  }
  setInterval(function() {
    //check to see if notification list has been updated based on array length
    var notifications_list = notification.getNotifications();
    if(notifications_list.length == numNotifications) return;
    numNotifications = notifications_list.length;
    refreshNotifications();
  }, 1000);
});
</script>
   <div class="one-third column">
		<h2>Filters</h2>
    <form id="filters">
    <table>
    <tr id="start-date" class="filter"><td class="checkbox"><input type="checkbox"></td><td class="text">Start Date</td><td class="value"><input type="date"></td></tr>
    <tr id="end-date" class="filter"><td class="checkbox"><input type="checkbox"></td><td class="text">End Date</td><td class="value"><input type="date"></td></tr>
    <tr id="unread" class="filter"><td class="checkbox"><input type="checkbox"></td><td class="text">Unread</td><td class="value"></td></tr>
    </table>
    </form>
	</div>
	<div class="two-thirds column">
    <ul id="notification-list">
      
    </ul>
		  <!--{% for notification in notifications %}
        <div>
          <time>{{ notification.creation_time }}</time>
        </div>
        Blah Blah blah
     {% endfor %}-->
	</div>
    <hr>
   


{% endblock %} 
