<!DOCTYPE html>
<html>
  <head>
    <title>Compartment Manager</title>
   {% load staticfiles %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
         text-align:center;
      }
      ul {
         list-style-type: none;
      }
    </style>
  </head>
  <body>
    <h1>Update Compartment Info</h1>

    <form method="post" action = "../loadcompartment/">
      {% csrf_token %}

      <input type = "hidden" name ="requestType" value="loadCompartment">
      COMPID: <input type = "text" name = "compID" value="Compartment ID"><br>
      DISPID: <input type = "text" name = "dispID" value="Dispenser ID"><br>
      SLOT #: <input type = "number" name = "slotNum" value="0"><br>
      <input type = "submit" value = "Load Compartment">
    </form>
  </body>
</html>