{% extends "base_template.html" %}
{% block page_title %}
Medication Info
{% endblock %}
{% block header_title %}
Medication Info
{% endblock %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
   $("#rxuid").click(function() {
      window.opener.loadrxuid({{ rxuid }});
      window.close()
   });
});
</script>
{% endblock %}
{% block content %}
    <form method="get" action="">
     <input type="hidden" name="requestType" value="getNameSuggestions">
     <input type="text" name="medName" placeholder="Name of Medication" required>
   </form>
   {% if nameSuggestions %}
      <h3>Results for {{ nameSuggestions.suggestionGroup.name }}</h3>
      <ul>
      {% for suggestion in nameSuggestions.suggestionGroup.suggestionList.suggestion %}       
         {% with '?requestType=getMedSuggestions&medName='|add:suggestion as url %}
           <li> <a href = {{url}}> {{ suggestion }} </a>
         {% endwith %}
      {% endfor %}
      </ul>
      
   {% elif medSuggestions %}
      <h3>Results for {{ medSuggestions.drugGroup.name }}</h3>
      <ul>
      {% for group in medSuggestions.drugGroup.conceptGroup %} 
          {% for property in group.conceptProperties %}
            {% with '?requestType=getMedicationInfo&medID='|add:property.rxcui as url %}
              <li> <a href = {{url}}> {{ property.name }} </a>
            {% endwith %}
         {% endfor %}
         
      {% endfor %}
      </ul>
      
   {% elif names %}
   <h3>Results for {{ name }} (RxNorm attributes)</h3>
      RXUID: <a id="rxuid" href = "#">{{ rxuid }}</a><br>
      NDC: {{ ndc }}
      <pre>{{ attributes }}</pre>
   {% endif %}
{% endblock %} 