{% extends "base_template.html" %}
{% block page_title %}
Profile
{% endblock %}
{% block header_title %}
Password Reset
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
          <form action="password" method="post">
           {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
           
           <!-- If there are non-field errors in the form,
                iterate over them one by one and display them.
            -->
           {% if form.non_field_errors %}
            <p class="error">
              {% for error in form.non_field_errors %}
		            {{ error }}
		          {% endfor %}
            </p>
           {% endif %}
           <!-- Iterate over the fields in a form and render them  -->
           {% for field in form %}
              <!-- Render the field label tag -->
		          {{ field.label_tag }}
              <!-- If the field is required, display a * next to the field label -->
              <!-- Render the input field -->
		          {{ field }}
		        <!-- Iterate over the field's errors, if any and display
                 them one by one in a error alert
            -->
		        {% if field.errors %}
		          <p class="error">
		          {% for error in field.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
          {% endfor %}
    		<input type="submit" class="btn btn-default" value="Submit" />
   	  </form>
{% endblock %} 
