<!DOCTYPE html>
<html>
  <head>
   {% load staticfiles %}
   {% load dispenser_tags %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
  
    <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
      e.style.display = ((e.style.display!='none') ? 'none' : 'block');
    }
//-->


    function disable_enable()
    {
        if(document.getElementById("repeat").checked != 1)
        {
            document.getElementById("repeatDays").setAttribute("disabled","disabled");  
        }
        else
        {
            document.getElementById("repeatDays").removeAttribute("disabled");
        }
    }

    </script>
    
    <style = "text/css">
      div.addMed {
         background-color: #909090;
         padding-left: 10px;
         padding-bottom: 10px;
         width: 350px;
      }
    </style>
    </head>
  <body>
    <h1>Add Patient</h1>
    <form method="post" action="./">
      {% csrf_token %}
      <input type="hidden" name="requestType" value="newPatient">
      <input type="text" name="firstName" placeholder="First Name" required>
      <input type="text" name="lastName" placeholder="Last Name" required>

      <input type="submit" value="Add Patient">
    </form>
    <br>
    <hr>
    {% for patient in Patients %}
      <h2> {{ patient.lastName }}, {{ patient.firstName }} </h2>
     <!-- <p>Creation Time: {{ patient.id.generation_time }}</p>
      <p>Last Edited: {{ patient.editedTime }} </p>
      -->
      <p>Medications:</p>
      <a href="#" onclick="toggle_visibility('{{ patient.id }}'); return false">(add medication)</a>
    <div class="addMed" id="{{ patient.id }}" style="display:none;">
    <form method="post" action="../patientinfo/">
      {% csrf_token %}
      <input type="hidden" name="requestType" value="addMedication"><br>
      <input type="hidden" name="id" value="{{ patient.id }}">
      <b>RXUID: </b><input type="number" name="rxuid">
      <a href="../medinfo" onclick="javascript:void window.open('../medinfo','1392054828660','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">RXUID Lookup</a><br>
      <input type="number" name="numPills" placeholder="Number of pills"><br>
      <input type="checkbox" name="dispensable" checked>Dispensable?<br><br>
     
     <b>Start:</b><br> 
      
      <select multiple name = "times" size = "3">
         <option> 12:00am
         <option> 1:00am
         <option> 2:00am
         <option> 3:00am
         <option> 4:00am
         <option> 5:00am
         <option> 6:00am
         <option> 7:00am
         <option> 8:00am
         <option selected> 9:00am
         <option> 10:00am
         <option> 11:00am
         <option> 12:00pm
         <option> 1:00pm
         <option> 2:00pm
         <option> 3:00pm
         <option> 4:00pm
         <option> 5:00pm
         <option> 6:00pm
         <option> 7:00pm
         <option> 8:00pm
         <option> 9:00pm
         <option> 10:00pm
         <option> 11:00pm
      </select>
      <input type="date" name="startDate">
      
      <br><br>
      <b>Schedule</b><br>
      Repeat? <input type="checkbox" onClick="disable_enable()" id="repeat" name="repeat" checked><br>
      Every <input type="number" id="repeatDays" name="repeatDays"> days
      <br><br>
      
      <input type="submit" value="Add Medication">
    </form>
    </div>
      <ul>
      {% for medication in patient.medications %}
         <b>{{ medication.rxuid }}</b>
         <ul>
         {% if medication.dispensed %}
          <li> is dispensed
            <li> {{ medication.quantity }} pills
         {% else %}
         <li> is not dispensed
         {% endif %}
         
            <li> {{ medication.times }}
            <li>
            {% if medication.repeatDays > 0 %}
            Every {{ medication.repeatDays }} days
            {% else %}
            Not repeated
            {% endif %}
         </ul>
      {% endfor %}
      </ul>
      <p>DispenserID: {{ patient.dispenserID }}</p>
      <form method="get" action="../update">
        <input type="hidden" name="id" value="{{ patient.id }}">
        <input type="hidden" name="name" value="{{ patient.name }}">
        <input type="hidden" name="medications" value="{{ patient.medications }}">
        <input type="hidden" name="dispenserID" value="{{ patient.dispenserID }}">
        <input type="submit" name="" value="update">
      </form>

      <form method="post" action="./" onSubmit="return confirm('Do you really want to delete this patient?');">
        {% csrf_token %}
        <input type="hidden" name="requestType" value="deletePatient">
        <input type="hidden" name="id" value="{{patient.id}}">
        <input type="submit" value="delete">
      </form>
    {% endfor %}
  </body>
</html>