{% extends "base_template.html" %}
{% block page_title %}
Patient Management
{% endblock %}
{% block header_title %}
Patient Management
{% endblock %}
{% block content %}
<h2> Add patient </h2>
   <form method="post" action="../patientinfo">
      {% csrf_token %}
      <input type="hidden" name="requestType" value="newPatient">
      <input type="text" name="firstName" placeholder="First Name" required>
      <input type="text" name="lastName" placeholder="Last Name" required>
      Birth date: <input type="date" name="birthDate" placeholder="" required><br><br>

      <input type="submit" value="Add Patient">
    </form>
    <br>
    <hr>
    
    <h2> Remove Patient </h2>
    {% for patient in Patients %}
      {{ patient.lastName }}, {{ patient.firstName }}  

      <form method="post" action="./patientinfo" onSubmit="return confirm('Do you really want to delete this patient?');">
        {% csrf_token %}
        <input type="hidden" name="requestType" value="deletePatient">
        <input type="hidden" name="id" value="{{patient.id}}">
        <input type="submit" value="delete">
      </form>
    {% endfor %}
{% endblock %} 
