{% extends "base_template.html" %}
{% block page_title %}
My Information
{% endblock %}
{% block header_title %}
My Information
{% endblock %}
{% block head %}
   {% load dispenser_tags %}

    <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
      e.style.display = ((e.style.display!='none') ? 'none' : 'block');
    }
//-->
    </script>

{% endblock %}
{% block content %}

   <h2>{{ patient.lastName }}, {{ patient.firstName }} </h2>
   <h5>Profile Created</h5> {{ patient.id.generation_time }} <br><br>

   <h5>Medications that need to be taken</h5>
   {% for rxuid in patient.activeMeds %}
         {% with medName=rxuid|get_medName %}
         <li>{{ medName }}<br>
         {% endwith %}
   {% endfor %}
   <br>
   <h5>Medication History</h5>

   {% for medEntry in patient.medHistory|last_entries:10 %}
         {% if medEntry.MedicationMissed %}
            {% with medName=medEntry.MedicationMissed.rxuid|get_medName %}
            {{ medEntry.MedicationMissed.timestamp }} - Patient missed taking {{ medEntry.MedicationMissed.quantity }} pills of {{ medName }} ({{ medEntry.MedicationMissed.time }})
            {% endwith %}
         {% elif medEntry.MedicationTaken %}
            {% with medName=medEntry.MedicationTaken.rxuid|get_medName %}
            {{ medEntry.MedicationTaken.timestamp }} - 
            {% if medEntry.MedicationTaken.caretaker %}
            Caretaker {{ medEntry.MedicationTaken.caretaker.user.first_name }} {{ medEntry.MedicationTaken.caretaker.user.last_name }} administered
            {% else %}
            Patient took 
            {% endif %}
            {{ medEntry.MedicationTaken.quantity }} pills of {{ medName }}
            {% endwith %}
         {% endif %}
         <br>
   {% endfor %}
   <br>
   <h5>Dispenser Location</h5>
   {{ patient.dispenser.location }} <br>
   
    <h5>Caretaker</h5>
   {{ patient.caretaker.user.first_name }} {{ patient.caretaker.user.last_name }} <br>
   {{ patient.caretaker.id }} <br><br>
   
   <h5>Birthdate</h5>
   {{ patient.user.birthdate|date:"m/d/Y"}}
   <br><br>
   <h5>Group</h5>
   {{ patient.user.group }}<br><br>

   Ion User ID: {{ patient.user.id }}<br>
   Username: {{ patient.user.user.username }}<br>
   Email: {{ patient.user.user.username }}
     <hr>
      <h3>Active Medications</h3>
      * to edit a medication regime, first deactivate the current medication. Medication data from the deactivated medication will then auto-populate the "add medication" fields above, and you can edit and submit a new medication regime.<br><br>
      
      {% for medication in patient.medications %}
         {% if medication.active == True %}

            {% with medName=medication.rxuid|get_medName %}
            <h4> {{ medName }} </h4>
            {% endwith %}
            <ul>

            Rxuid: {{ medication.rxuid }}
            {% if medication.dispensed %}
               <li> {{ medication.quantity }} pills are dispensed at
               {% for time in medication.times %}
                  {{ time }},
               {% endfor %}

            {% if medication.repeatDays > 0 %}
               every {{ medication.repeatDays }} days
               {% else %}
               only once
               {% endif %}

               <br>
               Start Date: {{ medication.startDate }}

            {% else %}
            <li> Medication is not dispensed.
            {% endif %}
            </ul>
         {% endif %}
      {% endfor %}
{% endblock %}
