<!DOCTYPE html>
<html>
  <head>
    <title>Compartment Manager</title>
   {% load staticfiles %}
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
         text-align:center;
      }
      ul {
         list-style-type: none;
      }
    </style>
  </head>
  <body>
    <h1>Update Compartment Info</h1>

    <form method="post" action = "../updatecompartment/">
      {% csrf_token %}
      <input type = "hidden" name = "compID" value = {{ compID }}>
      <input type = "hidden" name = "ndc" value = {{ ndc }}>
      <input type = "hidden" name = "lot" value = {{ lot }}>
      <input type = "hidden" name = "expiration" value = {{ expiration }}>
      
      <b> {{ message }} </b><br><br>
      {% if nextType == 'ndc' %}
         <input type = "hidden" name ="requestType" value="ndc">
         <input type = "textbox" name="ndc" autofocus="autofocus">
      {% elif nextType == 'lot' %}      
         <input type = "hidden" name ="requestType" value="lot">
         <input type = "textbox" name="lot" autofocus="autofocus">
      {% elif nextType == 'expiration' %}
         <input type = "hidden" name ="requestType" value="expiration">
         <input type = "date" name="expiration" autofocus="autofocus">
      {% elif nextType == 'save' %}
         <input type = "hidden" name ="requestType" value="save">   
         Compartment ID: {{ compID }}<br>
         NDC: {{ ndc }}<br>
         Lot: {{ lot }}<br>
         Expiration: {{ expiration }}
         
      {% else %}
         <b> Scan compartment ID </b><br><br>
         <input type = "hidden" name ="requestType" value="compID">
         <input type = "textbox" name="compID" autofocus="autofocus">
      {% endif %}
      
      <br><br>
      <input type = "submit" value = "next">
    </form>

  </body>
</html>