{% extends "touch_template.html" %}
{% block page_title %}
Compartment Manager
{% endblock %}
{% block header_title %}
Load Compartment
{% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
      
    <input type = "hidden" name = "dispID" value="{{ dispenser.id }}">
      {% if compID %}
      
         <input type = "hidden" name = "requestType" value= "slotNum">
         <input type = "hidden" name = "compID" value = "{{compID}}">
         <h3>SLOT #</h3>
         <select name = "slotNum">
            {% for slot in free %}
               <option value="{{slot}}"> Slot {{ slot|add:"1" }}
            {% endfor %}
         </select>
         <input type = "submit" value = "Load">
      {% else %}   
         {% if not hide %}
            <input type = "hidden" name = "requestType" value="compID">
            <input type = "hidden" name = "dispID" value="{{ dispenser.id }}">

            <h2>Scan compartment ID</h2>
            <input type = "textbox" name="compID" autofocus="autofocus">
            
         {% endif %}
      {% endif %}
    </form>
{% endblock %} 

