{% extends "base_template.html" %}
{% block page_title %}
Patient Management
{% endblock %}
{% block header_title %}
Update Patient
{% endblock %}
{% block content %}
   <form method="post" action="../update/">
      {% csrf_token %}

        <p><input type="hidden" name="id" value="{{patient.id}}"></p>
        <p>Name: <input type="text" name="name" placeholder="Patient Name" value="{{patient.name}}" required></p>
        <p>DispenserID: <input type="text" name="dispenserID" placeholder="Enter DispenserID" value="{{patient.dispenserID}}">
        </p>
        <input type="submit" value="Save Changes">
    </form>
{% endblock %} 
